*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right {
    flex-basis: 40%;
    padding: 40px ;
    background: #1c00b5;
    color:#fff;
}














































